.mainbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  background-color: #f7f8f9;
  height: 100vh; 
  padding: 20px;
  border: 1.5px solid #e5e5e5;
  width: 350px;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  margin: 0px;
  box-sizing: border-box;
}
.outer{
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
}
.heading{
  font-weight: 600;
  margin-bottom: 10px;
  
}
.button{
  padding: 13px;
  margin-bottom: 10px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
}
.innerdiv{
  font-size: 14px;
  padding-right: 60px;
}
p{
  font-family: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}
input{
  background-color: #f7f8f9;
  border: 1px solid #c6c6c6;
  width: 98%;
  padding: 9px;
  padding-left: 15px;
  border-radius: 8px;
  color: #3e3e3e;
  font-weight: bolder;
}
input::placeholder{
  color: #999999;
  font-weight: normal;
}
.radio{
  display: flex;
  gap: 20px;
  
}
.innerradio{
  display: flex;
  margin-right: 10px;
}
.innerradio span{
  font-size: 13px;
  font-weight: bold;
}
.radiopara{
  font-weight: bold;
  font-size: 13px;
}

.label {
  font-size: 13px;
  color: #5d1fdaff;
  position: relative;
  top: 12px;
  margin: 0px;
  left: 15px;
  background-color: #f7f8f9;
  width: 100px;
  padding-left: 1px;
}
.label span {
  color: red; 
}


.mainbody2 {
  display: flex;
  flex-direction: column;
  background-color: #f7f8f9;
  height: 100vh;
  padding: 0;
  border: 1.5px solid #e5e5e5;
  width: 350px;
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  margin: 0px;
}

.outer2 {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.successtop {
  background-color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  position: relative; 
}


.successtop::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -11px;  
  height: 9px;  
  background: linear-gradient(to bottom, rgba(180, 180, 180, 0.059), #f7f8f9);
  pointer-events: none;
}


.profile-card {
  display: flex;
  flex-direction: column;
  background-color: #f7f8f9;
  padding: 20px;

  border-bottom: 1px dashed #9f9f9f;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.profile-info h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.profile-info .email {
  margin: 2px 0 10px 0;
  font-size: 12px;
  color: #666;
}

.desc {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}
.empty {
  height: 50%;
  border-bottom: 1px dashed #9f9f9f;
}
.empty-spacer {
  flex-grow: 0.95; 
}
.footer-border {
  border-top: 1px dashed #9f9f9f; 
  padding-top: 10px; 
  width: 100%; 
  box-sizing: border-box;
}